@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 360px
}
body {
  color: snow;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 80rem;
  margin: 0 auto
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 0 1fr minmax(auto,80rem) 1fr 0
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 819px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.spollers {
  display: grid;
  gap: 15px;
  position: relative;
  z-index: 6
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 200%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 10px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: .375rem;
  border-radius: .1875rem;
  background: rgba(21,150,195,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: .5625rem;
  position: absolute;
  margin-top: .25rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.125rem;
  border-bottom: 1px solid #1596c3
}
.header__logo {
  border-left: 1px solid #1596c3;
  width: 8.6875rem
}
.header__content {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.75rem;
  -moz-column-gap: 2.75rem;
  column-gap: 2.75rem
}
.header__menu {
  display: flex;
  align-items: center
}
.header__actions {
  display: flex;
  align-items: center;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.menu__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.75rem;
  -moz-column-gap: 2.75rem;
  column-gap: 2.75rem;
  flex-wrap: wrap;
  justify-content: center
}
.menu__link {
  transition: .3s;
  text-align: center
}
.menu__link:hover {
  scale: 1.1
}
.circle-one {
  display: none
}
.menu-open .circle-one {
  display: flex;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 90px;
  height: 93px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .494px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 6.92px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(.9885966778px);
  filter: blur(.9885966778px);
  border-radius: 50%
}
.menu-open .circle-one::after {
  content: "";
  width: 102px;
  height: 102px;
  flex-shrink: 0;
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(56.6101722717px);
  filter: blur(56.6101722717px);
  top: 35px;
  left: -12px;
  position: absolute
}
.circle-two {
  display: none
}
.menu-open .circle-two {
  display: flex;
  position: absolute;
  top: 102px;
  left: 37px;
  width: 118px;
  height: 122px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .649px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 9.089px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(1.2983742952px);
  filter: blur(1.2983742952px);
  border-radius: 50%
}
.menu-open .circle-two::after {
  content: "";
  width: 102px;
  height: 102px;
  flex-shrink: 0;
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(56.6101722717px);
  filter: blur(56.6101722717px);
  top: 81px;
  left: -36px;
  position: absolute
}
.circle-three {
  display: none
}
.menu-open .circle-three {
  display: flex;
  position: absolute;
  bottom: 189px;
  left: 37px;
  width: 145px;
  height: 150px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .802px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 11.225px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(1.6035958529px);
  filter: blur(1.6035958529px);
  border-radius: 50%
}
.circle-four {
  display: none
}
.menu-open .circle-four {
  display: flex;
  position: absolute;
  bottom: 45px;
  left: 113px;
  width: 77.22px;
  height: 80.188px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .427px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 5.974px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(.8533927202px);
  filter: blur(.8533927202px);
  border-radius: 50%
}
.circle-five {
  display: none
}
.menu-open .circle-five {
  display: flex;
  position: absolute;
  bottom: 75px;
  left: 201px;
  width: 31.663px;
  height: 32.879px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .175px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 2.449px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(.3499171138px);
  filter: blur(.3499171138px);
  border-radius: 50%
}
.circle-six {
  display: none
}
.menu-open .circle-six {
  display: flex;
  position: absolute;
  bottom: 70px;
  left: 223px;
  width: 166.874px;
  height: 167px;
  flex-shrink: 0;
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(56.6101722717px);
  filter: blur(56.6101722717px);
  border-radius: 50%
}
.actions-header__btn {
  display: inline-flex;
  flex-shrink: 0;
  padding: 1rem 2rem;
  border-radius: 16px;
  background: #1596c3;
  box-shadow: 0 0 16px #1596c3;
  transition: .3s;
  position: relative
}
.actions-header__btn:hover {
  background: rgba(21,150,195,.6)
}
.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.96875rem
}
.footer__top {
  border-left: 1px solid #1596c3;
  border-bottom: 1px solid #1596c3;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4375rem
}
.top-footer__logo {
  width: 8.6875rem
}
.top-footer__menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 2.75rem;
  -moz-column-gap: 2.75rem;
  column-gap: 2.75rem
}
.top-footer__link {
  transition: .3s
}
.top-footer__link:hover {
  scale: 1.1
}
body {
  background: #000
}
.h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
  text-transform: uppercase
}
.h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  text-transform: uppercase
}
.h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  text-transform: uppercase
}
.h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px
}
.h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 27px
}
.h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px
}
.hero {
  position: relative
}
.menu-open .hero {
  left: -400%
}
.hero__container {
  padding-top: 3.5625rem;
  padding-bottom: 13rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1
}
.hero__content {
  max-width: 39.8125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start
}
.hero__images {
  position: relative;
  -webkit-transform: translateX(-120px);
  transform: translateX(-120px)
}
.hero__shadow-one {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 295px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(100px);
  filter: blur(100px)
}
.hero__puls {
  position: absolute;
  bottom: 50px;
  width: 100%
}
.content-hero__subtitles {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  margin-bottom: -.3125rem
}
.content-hero__subtitle {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  padding: 12px 14px;
  border-radius: 6px;
  background: #000;
  box-shadow: 0 0 10px 0 #1596c3;
  color: #1596c3
}
.content-hero__title {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
  font-size: 42px;
  font-weight: 500;
  line-height: 44px;
  text-transform: uppercase;
  left: -30%;
  transition: .5s
}
.content-hero__description {
  max-width: 31.25rem;
  margin-bottom: 2.75rem
}
.content-hero__items {
  margin-bottom: 3.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 29.375rem;
  width: 100%
}
.content-hero__title._watcher-view {
  left: 0
}
.button {
  display: flex;
  padding: 22px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #1596c3;
  transition: .3s
}
.button:hover {
  background: rgba(21,150,195,.6)
}
.hero-rotate-left {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg)
}
.hero-rotate-right {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg)
}
.blue {
  color: #1596c3
}
.items-hero__item {
  max-width: 8.0625rem
}
.images-hero__medium {
  position: absolute;
  right: 240px;
  bottom: -100px
}
.images-hero__small {
  position: absolute;
  top: -25px;
  right: 190px
}
.medium-hero__img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1
}
.medium-hero__shadow {
  display: flex;
  width: 295px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(100px);
  filter: blur(100px);
  position: absolute;
  top: 80px;
  left: 40px
}
.small-hero__img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1
}
.small-hero__shadow {
  display: flex;
  width: 116px;
  height: 116px;
  flex-shrink: 0;
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(39.3220329285px);
  filter: blur(39.3220329285px);
  position: absolute;
  top: -10px;
  left: 20px
}
.timer {
  position: relative
}
.menu-open .timer {
  left: -400%
}
.timer__bg {
  position: absolute;
  bottom: -3.75rem;
  width: 100%
}
.timer__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  position: relative
}
.timer__title {
  text-align: center
}
.timer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.timer__days {
  display: flex;
  flex-direction: column;
  row-gap: .3125rem;
  align-items: center;
  justify-content: center;
  padding: 7px 18px;
  border-radius: 3px;
  background: rgba(21,150,195,.6);
  width: 86px;
  height: 86px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  transition: .5s
}
.timer__hours {
  display: flex;
  flex-direction: column;
  row-gap: .3125rem;
  align-items: center;
  justify-content: center;
  padding: 7px 18px;
  border-radius: 3px;
  background: rgba(21,150,195,.6);
  width: 86px;
  height: 86px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  transition: .5s
}
.timer__minutes {
  display: flex;
  flex-direction: column;
  row-gap: .3125rem;
  align-items: center;
  justify-content: center;
  padding: 7px 18px;
  border-radius: 3px;
  background: rgba(21,150,195,.6);
  width: 86px;
  height: 86px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  transition: .5s
}
.timer__seconds {
  display: flex;
  flex-direction: column;
  row-gap: .3125rem;
  align-items: center;
  justify-content: center;
  padding: 7px 18px;
  border-radius: 3px;
  background: rgba(21,150,195,.6);
  width: 86px;
  height: 86px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  transition: .5s
}
.timer__days._watcher-view {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.timer__hours._watcher-view {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.timer__minutes._watcher-view {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.timer__seconds._watcher-view {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.programme {
  position: relative;
  padding-top: 9.625rem;
  padding-bottom: 10.5rem
}
.programme__container {
  display: flex;
  flex-direction: column;
  row-gap: 3.375rem;
  position: relative;
  z-index: 1
}
.programme__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: .625rem
}
.programme__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .90625rem
}
.pc-none {
  display: none
}
.content-programme__item {
  display: flex;
  width: 549px;
  height: 270px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(21,150,195,.6);
  justify-content: space-between;
  transition: .5s;
  scale: .3
}
.content-programme__item.item-programe._watcher-view {
  scale: 1
}
.item-programe__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem
}
.item-programe__price {
  margin-bottom: .75rem
}
.item-programe__description {
  max-width: 28.3125rem
}
.item-programe__btn {
  display: flex;
  align-items: center;
  -webkit-column-gap: .375rem;
  -moz-column-gap: .375rem;
  column-gap: .375rem;
  padding: 8px 12px;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  background: rgba(255,255,255,.3);
  transition: .3s
}
.item-programe__btn:hover {
  background: rgba(255,255,255,.6)
}
.item-programe__description-de {
  max-width: 31.375rem
}
.center {
  align-items: center;
  text-align: center;
  height: 14.75rem
}
.center-de {
  height: 15.8125rem
}
.programme-rotate-right {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  margin-top: 15px
}
.programme-rotate-left {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg)
}
.programme__circleone {
  position: absolute;
  width: 180.973px;
  height: 187.927px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: 1px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 14px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  border-radius: 50%;
  left: 6%;
  top: 36%;
  opacity: .6
}
.programme__circletwo {
  position: absolute;
  width: 78.935px;
  height: 81.968px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .436px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 6.106px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(.8723403215px);
  filter: blur(.8723403215px);
  border-radius: 50%;
  left: 27%;
  top: 22%;
  opacity: .6
}
.programme__circletwo::before {
  content: "";
  width: 295px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(100px);
  filter: blur(100px);
  position: absolute
}
.programme__circlethree {
  position: absolute;
  width: 220.967px;
  height: 229.458px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: 1.221px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 17.094px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2.441988945px);
  filter: blur(2.441988945px);
  border-radius: 50%;
  left: 22%;
  top: 52%;
  opacity: .6
}
.programme__circlefour {
  position: absolute;
  width: 201.188px;
  height: 208.919px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: 1.112px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 15.564px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2.2234041691px);
  filter: blur(2.2234041691px);
  border-radius: 50%;
  left: 69%;
  top: 30%;
  opacity: .6
}
.programme__circlefour::before {
  content: "";
  position: absolute;
  width: 295px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  background: var(--blue-60,rgba(21,150,195,.6));
  -webkit-filter: blur(100px);
  filter: blur(100px);
  top: 100px
}
.programme__circlefive {
  position: absolute;
  width: 149.733px;
  height: 155.487px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .827px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 11.583px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(1.6547549963px);
  filter: blur(1.6547549963px);
  border-radius: 50%;
  left: 47%;
  top: 67%;
  opacity: .6
}
.programme__circlesix {
  position: absolute;
  width: 247.181px;
  height: 256.68px;
  flex-shrink: 0;
  border-radius: 256.68px;
  border: 1.366px solid var(--blue-30,rgba(21,150,195,.3));
  background: rgba(21,150,195,.01);
  box-shadow: 0 0 19.122px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2.7316913605px);
  filter: blur(2.7316913605px);
  border-radius: 50%;
  right: 0;
  top: 47%;
  opacity: .6
}
.programme__puls {
  position: absolute;
  bottom: 110px;
  width: 100%
}
.programme__puls img {
  width: 100%
}
.inspiring__container {
  display: flex;
  align-items: center;
  padding-bottom: 3.5625rem
}
.inspiring__text {
  max-width: 37.1875rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  margin-left: -70px;
  transition: .5s
}
.inspiring__cirle-one {
  position: absolute;
  width: 203px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  opacity: .8;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  top: -130px;
  left: -80px
}
.inspiring__image {
  margin-left: 0;
  position: relative;
  transition: .5s
}
.inspiring__cirle-two {
  position: absolute;
  width: 382px;
  height: 289px;
  flex-shrink: 0;
  border-radius: 382px;
  border: 1px solid var(--blue-100,#1596c3);
  opacity: .8;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  bottom: -30px;
  left: -90px
}
.inspiring__cirle-three {
  position: absolute;
  width: 251px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  opacity: .6;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  bottom: -200px;
  right: -20px
}
.inspiring__text.text-inspiring._watcher-view {
  margin-left: 0
}
.inspiring__image._watcher-view {
  margin-left: -110px
}
.text-inspiring__title {
  position: relative
}
.text-inspiring__descriptions {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  max-width: 35.6875rem
}
.text-inspiring__description {
  width: 100%
}
.mob-none {
  display: flex
}
.discover {
  position: relative
}
.discover__container {
  position: relative;
  margin-bottom: 18.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem
}
.discover__title {
  text-align: center
}
.discover__items {
  display: flex;
  align-items: flex-end
}
.discover__puls {
  position: absolute;
  bottom: -250px;
  left: 0;
  width: 100%
}
.discover__cirle {
  position: absolute;
  width: 186px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  opacity: .6;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  left: 0;
  bottom: -180px
}
.items-discover__left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 3.1875rem;
  align-items: flex-start;
  max-width: 28.1875rem;
  width: 100%
}
.items-discover__right {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 795px;
  padding: 32px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--blue-60,rgba(21,150,195,.6));
  margin-left: 3.125rem;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: .5s
}
.items-discover__right.right-discover._watcher-view {
  margin-left: -1.875rem
}
.left-discover__content {
  display: flex;
  width: 451px;
  height: 222px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--white-100,snow);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
  color: #000;
  row-gap: 1.5rem
}
.left-discover__bnt {
  position: relative;
  z-index: 2
}
.left-discover__content-de {
  row-gap: .6875rem
}
.right-discover__list {
  list-style: none;
  max-width: 43.3125rem;
  margin-left: 1.875rem;
  position: relative
}
.right-discover__list::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 5px;
  height: 5px;
  background: snow;
  border-radius: 50%
}
.speakers__container {
  position: relative;
  margin-bottom: 12.6875rem
}
.speakers__title {
  text-align: center;
  margin-bottom: 3.625rem
}
.speakers__slide {
  width: 240px
}
.swiper-wrapper {
  z-index: 1
}
.slide-speakers__link {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem
}
.slide-speakers__img {
  width: 100%
}
.speaker__circle-one {
  position: absolute;
  width: 295px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  opacity: .7;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  top: -110px;
  right: -90px
}
.speaker__circle-two {
  position: absolute;
  width: 295px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 295px;
  border: 1px solid var(--blue-100,#1596c3);
  opacity: .7;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  bottom: -80px;
  left: 490px
}
.speaker-scrollbar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(255,250,250,.3803921569);
  margin-top: 3.125rem
}
.speaker-scrollbar-thumb {
  position: absolute;
  height: 4px;
  width: 50%;
  background-color: #1596c3;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease,-webkit-transform .7s ease
}
.community__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem
}
.community__content {
  display: flex;
  flex-direction: column;
  position: relative
}
.content-community__item._watcher-view {
  left: 0
}
.content-community__item {
  position: relative;
  left: -50%;
  transition: .5s
}
.content-community__text {
  max-width: 61.0625rem;
  position: relative;
  z-index: 2
}
.content-community__cirle-one {
  position: absolute;
  left: -60px;
  top: -160px;
  width: 317px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 317px;
  border: 1.075px solid var(--blue-100,#1596c3);
  opacity: .5;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(107.4576187134px);
  filter: blur(107.4576187134px);
  z-index: 1
}
.content-community__image {
  margin-top: -60px;
  margin-bottom: -45px
}
.content-community__cirle-two {
  width: 362px;
  height: 362px;
  flex-shrink: 0;
  position: absolute;
  top: -160px;
  right: -60px;
  border-radius: 362px;
  border: 1.227px solid var(--blue-100,#1596c3);
  opacity: .7;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(122.7118606567px);
  filter: blur(122.7118606567px)
}
.content-community__text-de {
  max-width: 66.75rem
}
.center-text {
  text-align: center;
  max-width: 100%
}
.center-text-de {
  text-align: center;
  max-width: 66.75rem
}
.content-center {
  display: flex;
  justify-content: center
}
.height {
  height: 269.785px
}
.timer__description {
  max-width: 37rem;
  text-align: center
}
.gap {
  row-gap: 1.5rem
}
.sponsors__container {
  display: flex;
  flex-direction: column;
  padding-top: 9.625rem;
  padding-bottom: 9.625rem
}
.sponsors__title {
  text-align: center;
  margin-bottom: 3.5rem
}
.sponsors__links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 6.25rem;
  -moz-column-gap: 6.25rem;
  column-gap: 6.25rem;
  margin-bottom: 6.25rem;
  margin-left: -40%;
  transition: .5s
}
.sponsors__cilre-one {
  position: absolute;
  width: 317px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 317px;
  border: 1.075px solid var(--blue-100,#1596c3);
  opacity: .5;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(107.4576187134px);
  filter: blur(107.4576187134px);
  left: 20px;
  top: -80px
}
.sponsors__link {
  position: relative
}
.sponsors__cilre-two {
  position: absolute;
  width: 301px;
  height: 302px;
  flex-shrink: 0;
  border-radius: 302px;
  border: 1.227px solid var(--blue-100,#1596c3);
  opacity: .7;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(122.7118606567px);
  filter: blur(122.7118606567px);
  top: -230px;
  right: -80px
}
.sponsors__info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  position: relative;
  margin-right: -40%;
  transition: .5s
}
.sponsors__puls {
  position: absolute;
  bottom: -180px;
  width: 120%;
  opacity: .4;
  left: -180px
}
.sponsors__links._watcher-view {
  margin-left: 0
}
.sponsors__info.info-sponsors._watcher-view {
  margin-right: 0
}
.info-sponsors__title {
  text-align: center;
  max-width: 58.625rem
}
.info-sponsors__description {
  margin-bottom: 1.25rem
}
.info-sponsors__btn {
  position: relative;
  z-index: 1
}
.info-sponsors__title-de {
  max-width: 67.625rem
}
.transform {
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}
.width {
  max-width: 27.5rem
}
.width-de {
  max-width: 37.125rem;
  width: 100%
}
.item-programe__description {
  max-width: 100%
}
.gallery {
  margin-bottom: 8.5rem
}
.gallery__container {
  position: relative
}
.gallery__cirle {
  position: absolute;
  width: 573px;
  height: 253px;
  flex-shrink: 0;
  border-radius: 573px;
  border: .793px solid var(--blue-100,#1596c3);
  opacity: .5;
  background: var(--blue-100,#1596c3);
  -webkit-filter: blur(79.3220367432px);
  filter: blur(79.3220367432px);
  top: -120px;
  left: 350px
}
.gallery__title {
  text-align: center;
  margin-bottom: 3.375rem;
  position: relative
}
.gallery__slider {
  margin-left: 5rem
}
.gallery__wrapper {
  display: flex;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem
}
.gallery__slide {
  max-width: 32.8125rem;
  width: 100%
}
.register__container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 9.5625rem;
  max-width: 55rem;
  text-align: center;
  transition: .5s;
  scale: .3
}
.register__description {
  max-width: 45.375rem
}
.register__btn {
  width: 420px
}
.register__cirle-one {
  position: absolute;
  width: 180.973px;
  height: 187.927px;
  fill: rgba(21,150,195,.01);
  stroke-width: 1px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 14px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  top: 90px;
  left: -230px;
  border-radius: 50%;
  opacity: .6
}
.register__cirle-two {
  position: absolute;
  border-radius: 50%;
  top: 240px;
  left: -10px;
  width: 220.967px;
  height: 229.458px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: 1.221px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 17.094px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2.441988945px);
  filter: blur(2.441988945px);
  opacity: .6
}
.register__cirle-three {
  position: absolute;
  border-radius: 50%;
  top: 370px;
  left: 365px;
  width: 149.733px;
  height: 155.487px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: .827px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 11.583px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(1.6547549963px);
  filter: blur(1.6547549963px);
  opacity: .6
}
.register__cirle-four {
  position: absolute;
  border-radius: 50%;
  top: 30px;
  right: 60px;
  width: 201.188px;
  height: 208.919px;
  flex-shrink: 0;
  fill: rgba(21,150,195,.01);
  stroke-width: 1.112px;
  stroke: var(--blue-30,rgba(21,150,195,.3));
  box-shadow: 0 0 15.564px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2.2234041691px);
  filter: blur(2.2234041691px);
  opacity: .6
}
.register__cirle-five {
  position: absolute;
  border-radius: 50%;
  top: 180px;
  right: -230px;
  width: 247.181px;
  height: 256.68px;
  flex-shrink: 0;
  border-radius: 256.68px;
  border: 1.366px solid var(--blue-30,rgba(21,150,195,.3));
  background: rgba(21,150,195,.01);
  box-shadow: 0 0 19.122px 0 rgba(58,189,233,.6) inset;
  -webkit-filter: blur(2.7316913605px);
  filter: blur(2.7316913605px);
  opacity: .6
}
.register__description-de {
  max-width: 51.125rem
}
.register__container-de {
  max-width: 66.75rem
}
.register__container._watcher-view {
  scale: 1
}
.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  transition: .3s
}
.arrow-up:hover {
  background: #fff;
  border-radius: 50%
}
.page {
  position: relative
}
.popup__info {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.info-popup__text {
  color: #000;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem
}
.popup__close {
  position: absolute;
  right: -40px;
  top: 0
}
.program-day {
  width: 100%
}
.without-padding {
  padding: 0
}
.popup__content {
  background: snow
}
.popup__packet {
  display: flex;
  flex-direction: column;
  row-gap: 3.375rem;
  padding: 1.25rem .75rem
}
.packet-popup__content {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.packet-popup__title {
  text-align: center;
  color: #000
}
.packet-popup__lists {
  color: rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  row-gap: .75rem
}
.packet-popup__form {
  max-width: 30.625rem;
  padding: 32px 31px;
  border-radius: 6px;
  background: #1596c3;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem
}
.lists-packet__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: .25rem;
  -moz-column-gap: .25rem;
  column-gap: .25rem;
  list-style: none
}
.list-open {
  color: #000
}
.content-more__button {
  display: flex;
  height: 60px;
  padding: 22px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: snow;
  color: #1596c3;
  margin-top: 2.5625rem;
  width: 100%;
  transition: .3s
}
.content-more__button:hover {
  background: rgba(255,255,255,.6);
  color: #fff
}
.form-width {
  max-width: 70rem;
  width: 100%
}
.form-packet__item {
  width: 100%;
  border-bottom: 1px solid snow;
  color: snow;
  padding-bottom: .75rem;
  padding-top: 2rem
}
.form-packet__item::-webkit-input-placeholder {
  color: snow
}
.form-packet__item:-ms-input-placeholder {
  color: snow
}
.form-packet__item::-ms-input-placeholder {
  color: snow
}
.form-packet__item::placeholder {
  color: snow
}
.form-packet__item:focus {
  outline: 0
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (max-width:1440px) {
  .timer__bg {
    bottom: -1.25rem
  }
}
@media (max-width:430px) {
  .content-hero__subtitles {
    width: 100%;
    justify-content: flex-start
  }
}
@media (max-width:390px) {
  .content-hero__subtitles {
    width: 100%;
    justify-content: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: top .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6.8125rem;
    z-index: 5
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: 0;
    top: -100%;
    transition: top .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu-open .menu__body::before {
    top: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 2.125rem;
    height: 1.25rem;
    z-index: 6
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: snow;
    border-radius: 2px
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .popup__content {
    border-radius: 3px;
    max-width: 342px
  }
  .spollers__title img {
    width: 24px
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    width: 7px;
    right: 0
  }
  ._spoller-init .spollers__title::before {
    -webkit-transform: translate(-65%,-50%) rotate(40deg);
    transform: translate(-65%,-50%) rotate(40deg)
  }
  .header__container {
    border-bottom: .918px solid #1596c3;
    width: 90%
  }
  .header__logo {
    border-left: .918px solid #1596c3;
    width: 4.725rem;
    position: relative;
    z-index: 6
  }
  .header__actions {
    display: none
  }
  .menu__list {
    flex-direction: column;
    row-gap: 2.75rem
  }
  .actions-header__btn {
    border-radius: 6px;
    background: #1596c3;
    justify-content: center;
    align-items: center;
    box-shadow: none
  }
  .footer__container {
    width: 90%
  }
  .footer__top {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .footer__bottom {
    margin-bottom: 1.5625rem
  }
  .top-footer__logo {
    max-width: 4.75rem
  }
  .top-footer__logo img {
    width: 100%
  }
  .top-footer__menu {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem;
    row-gap: 1.25rem;
    margin-bottom: .625rem;
    justify-content: space-between;
    max-width: 12.5rem
  }
  .top-footer__menu-de {
    max-width: 13.75rem
  }
  .h1 {
    font-size: 30px;
    line-height: 36px
  }
  .h2 {
    font-size: 28px;
    line-height: 34px
  }
  .h3 {
    font-size: 22px;
    line-height: 27px
  }
  .h4 {
    font-size: 18px;
    line-height: 22px
  }
  .h5 {
    font-size: 16px;
    line-height: 17px
  }
  .h6 {
    font-size: 14px;
    line-height: 15px
  }
  .hero__container {
    width: 90%;
    padding-bottom: 3.125rem
  }
  .hero__content {
    max-width: 100%
  }
  .hero__images {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px)
  }
  .hero__shadow-one {
    width: 166.874px;
    height: 167px;
    bottom: 0;
    fill: var(--blue-60,rgba(21,150,195,.6));
    -webkit-filter: blur(56.6101722717px);
    filter: blur(56.6101722717px)
  }
  .hero__puls {
    bottom: 180px
  }
  .hero__puls img {
    width: 100%
  }
  .content-hero__subtitles {
    width: 100%
  }
  .content-hero__subtitle {
    padding: 7px;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem
  }
  .content-hero__title {
    font-size: 24px;
    line-height: 26px
  }
  .content-hero__description {
    max-width: 18.125rem;
    margin-bottom: -1.25rem
  }
  .content-hero__items {
    margin-bottom: 1.25rem
  }
  .button {
    border-radius: 6px;
    width: 100%;
    padding: 14px 24px
  }
  .subtitle-hero__icon {
    width: 16px
  }
  .images-hero__img {
    width: 120%;
    display: flex;
    -webkit-transform: rotate(-22.676deg);
    transform: rotate(-22.676deg);
    flex-shrink: 0
  }
  .images-hero__medium {
    right: -20px;
    bottom: -20px
  }
  .images-hero__small {
    width: 75px;
    top: -60px;
    right: -30px
  }
  .small-hero-de {
    top: -80px
  }
  .medium-hero__img {
    width: 103.98px;
    height: 123.93px;
    -webkit-transform: rotate(-59.952deg);
    transform: rotate(-59.952deg);
    flex-shrink: 0
  }
  .medium-hero__shadow {
    width: 159.879px;
    height: 160px
  }
  .small-hero__img {
    width: 75px
  }
  .small-hero__shadow {
    width: 94.928px;
    height: 95px
  }
  .timer {
    margin-top: 1.875rem
  }
  .timer__bg {
    bottom: -2.5rem;
    width: auto
  }
  .timer__days {
    padding: 6px 10px;
    width: 60px;
    height: 60px
  }
  .timer__hours {
    padding: 6px 10px;
    width: 60px;
    height: 60px
  }
  .timer__minutes {
    padding: 6px 10px;
    width: 60px;
    height: 60px
  }
  .timer__seconds {
    padding: 6px 10px;
    width: 60px;
    height: 60px
  }
  .programme {
    padding-top: 4.625rem;
    padding-bottom: 4.875rem;
    width: 90%;
    margin: 0 auto
  }
  .programme__container {
    row-gap: 2rem
  }
  .programme__title {
    flex-direction: column;
    gap: .3125rem
  }
  .programme__content {
    gap: 0
  }
  .pc-none {
    display: flex
  }
  .content-programme__item {
    width: 350px;
    padding: 12px 13px;
    height: auto;
    align-items: center;
    text-align: center
  }
  .item-programe__price {
    margin-bottom: 0
  }
  .item-programe__description {
    max-width: 19.375rem;
    width: 100%
  }
  .item-programe__btn {
    width: 11.125rem
  }
  .item-programe__description-de {
    max-width: 20.25rem;
    width: 100%
  }
  .center {
    width: 350px;
    padding: 12px 13px;
    height: auto;
    align-items: center;
    text-align: center
  }
  .center-de {
    height: auto
  }
  .programme-rotate-right {
    margin-top: 0
  }
  .programme__circleone {
    width: 118px;
    height: 122px;
    left: 3%;
    top: 22%
  }
  .programme__circletwo {
    width: 90px;
    height: 93px;
    left: 75%;
    top: 15%
  }
  .programme__circletwo::before {
    width: 166.874px;
    height: 167px;
    left: -84%;
    top: -85%;
    fill: var(--blue-60,rgba(21,150,195,.6));
    -webkit-filter: blur(56.6101722717px);
    filter: blur(56.6101722717px)
  }
  .programme__circlethree {
    width: 145px;
    height: 150px;
    left: 5%;
    top: 61%
  }
  .programme__circlefour {
    width: 58px;
    height: 60px;
    left: 75%;
    top: 45%
  }
  .programme__circlefour::before {
    display: none
  }
  .programme__circlefive {
    width: 77.22px;
    height: 80.188px;
    left: 33%;
    top: 87%
  }
  .programme__circlesix {
    display: none
  }
  .programme__puls {
    bottom: 30px
  }
  .inspiring__container {
    padding-bottom: 4rem;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    row-gap: .625rem
  }
  .inspiring__text {
    max-width: 21.875rem;
    row-gap: 1.25rem
  }
  .inspiring__cirle-one {
    width: 108px;
    height: 156px;
    top: -10px;
    left: -50px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .532px;
    stroke: var(--blue-100,#1596c3);
    opacity: .8;
    -webkit-filter: blur(53.2019691467px);
    filter: blur(53.2019691467px)
  }
  .inspiring__image {
    margin-left: 0;
    width: 110%
  }
  .inspiring__image img {
    width: 100%
  }
  .inspiring__cirle-two {
    width: 141px;
    height: 106px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .369px;
    stroke: var(--blue-100,#1596c3);
    opacity: .8;
    -webkit-filter: blur(36.8627433777px);
    filter: blur(36.8627433777px);
    bottom: 180px;
    left: 30px
  }
  .inspiring__cirle-three {
    width: 180px;
    height: 136px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .471px;
    stroke: var(--blue-100,#1596c3);
    opacity: .8;
    -webkit-filter: blur(47.0588226318px);
    filter: blur(47.0588226318px);
    bottom: -60px;
    left: 210px
  }
  .inspiring__image._watcher-view {
    margin-left: 0
  }
  .text-inspiring__descriptions {
    row-gap: 1.25rem;
    position: relative
  }
  .mob-none {
    display: none
  }
  .discover__container {
    margin-bottom: 5.1875rem;
    width: 90%;
    row-gap: 2rem
  }
  .discover__items {
    flex-direction: column;
    row-gap: 1rem
  }
  .discover__puls {
    bottom: -20px;
    -webkit-filter: blur(1px);
    filter: blur(1px)
  }
  .discover__cirle {
    width: 141px;
    height: 166px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .563px;
    stroke: var(--blue-100,#1596c3);
    opacity: .6;
    -webkit-filter: blur(56.2711830139px);
    filter: blur(56.2711830139px);
    left: 10px;
    bottom: -30px;
    z-index: 1
  }
  .items-discover__right {
    margin-left: 0;
    width: 100%;
    padding: 12px 15px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    row-gap: 1rem
  }
  .left-discover__content {
    width: 100%;
    height: auto;
    padding: 12px 19px;
    row-gap: .75rem
  }
  .left-discover__description {
    width: 19.5rem
  }
  .right-discover__list {
    max-width: 17.5625rem
  }
  .speakers__container {
    margin-bottom: 4rem
  }
  .speakers__slider {
    margin-left: 1.25rem
  }
  .speakers__slide {
    width: 148px
  }
  .slide-speakers__link {
    row-gap: 1rem
  }
  .speaker__circle-one {
    display: none
  }
  .speaker__circle-two {
    left: 170px;
    width: 210px;
    height: 210px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .712px;
    stroke: var(--blue-100,#1596c3);
    opacity: .7;
    -webkit-filter: blur(71.1864395142px);
    filter: blur(71.1864395142px)
  }
  .speaker-scrollbar {
    margin-top: 1.25rem
  }
  .community__container {
    width: 90%;
    margin: 0 auto
  }
  .community__content {
    row-gap: .1875rem
  }
  .content-community__text {
    max-width: 21.875rem;
    width: 100%
  }
  .content-community__cirle-one {
    width: 143px;
    height: 143px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .485px;
    stroke: var(--blue-100,#1596c3);
    opacity: .7;
    -webkit-filter: blur(48.4745750427px);
    filter: blur(48.4745750427px);
    left: -40px;
    top: -60px
  }
  .content-community__image {
    width: 110%;
    margin-left: -.9375rem;
    margin-top: 0;
    margin-bottom: 0
  }
  .content-community__cirle-two {
    width: 165px;
    height: 165px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .559px;
    stroke: var(--blue-100,#1596c3);
    opacity: .7;
    -webkit-filter: blur(55.9322013855px);
    filter: blur(55.9322013855px);
    top: 60px;
    right: -20px
  }
  .center-text {
    text-align: left
  }
  .center-text-de {
    text-align: left
  }
  .height {
    height: auto;
    margin-top: 25px
  }
  .timer__description {
    max-width: 19.625rem
  }
  .timer__description-de {
    max-width: 21.375rem
  }
  .gap {
    row-gap: .75rem
  }
  .sponsors__container {
    padding-top: 6.75rem;
    padding-bottom: 4.625rem;
    width: 90%
  }
  .sponsors__title {
    margin-bottom: 2.5rem
  }
  .sponsors__links {
    margin-bottom: 4.625rem;
    flex-direction: column;
    row-gap: 4rem
  }
  .sponsors__cilre-one {
    width: 74px;
    height: 109px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .443px;
    stroke: var(--blue-100,#1596c3);
    opacity: .7;
    -webkit-filter: blur(44.2900428772px);
    filter: blur(44.2900428772px);
    left: -30px;
    top: -20px
  }
  .sponsors__link {
    max-width: 17.5rem
  }
  .sponsors__link img {
    width: 100%
  }
  .sponsors__cilre-two {
    top: -110px;
    right: -20px;
    width: 128px;
    height: 128px;
    fill: var(--blue-100,#1596c3);
    stroke-width: .52px;
    stroke: var(--blue-100,#1596c3);
    opacity: .7;
    -webkit-filter: blur(52.0103263855px);
    filter: blur(52.0103263855px)
  }
  .sponsors__info {
    row-gap: 1.25rem
  }
  .sponsors__puls {
    bottom: 40px;
    left: -40px;
    opacity: 1;
    -webkit-filter: blur(1.8px);
    filter: blur(1.8px)
  }
  .info-sponsors__description {
    text-align: center
  }
  .gallery {
    margin-bottom: 4.625rem
  }
  .gallery__cirle {
    width: 273px;
    height: 128px;
    border-radius: 273px;
    border: .52px solid var(--blue-100,#1596c3);
    opacity: .7;
    background: var(--blue-100,#1596c3);
    -webkit-filter: blur(52.0103263855px);
    filter: blur(52.0103263855px);
    top: -120px;
    left: 60px
  }
  .gallery__title {
    margin-bottom: 2rem
  }
  .gallery__slider {
    margin-left: 1.25rem
  }
  .gallery__wrapper {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
  }
  .gallery__slide {
    max-width: 15rem;
    width: 100%
  }
  .gallery__slide img {
    width: 100%
  }
  .register__container {
    row-gap: 1rem;
    padding-bottom: 5.9375rem;
    width: 90%
  }
  .register__description {
    width: 100%
  }
  .register__btn {
    width: 100%
  }
  .register__cirle-one {
    width: 118px;
    height: 122px;
    fill: rgba(21,150,195,.01);
    stroke-width: .649px;
    stroke: var(--blue-30,rgba(21,150,195,.3));
    box-shadow: 0 0 9.089px 0 rgba(58,189,233,.6) inset;
    -webkit-filter: blur(1.2983742952px);
    filter: blur(1.2983742952px);
    opacity: .6;
    top: -120px;
    left: 30px
  }
  .register__cirle-two {
    width: 145px;
    height: 150px;
    fill: rgba(21,150,195,.01);
    stroke-width: .802px;
    stroke: var(--blue-30,rgba(21,150,195,.3));
    box-shadow: 0 0 11.225px 0 rgba(58,189,233,.6) inset;
    -webkit-filter: blur(1.6035958529px);
    filter: blur(1.6035958529px);
    top: 150px;
    left: 0
  }
  .register__cirle-three {
    width: 77.22px;
    height: 80.188px;
    fill: rgba(21,150,195,.01);
    stroke-width: .427px;
    stroke: var(--blue-30,rgba(21,150,195,.3));
    box-shadow: 0 0 5.974px 0 rgba(58,189,233,.6) inset;
    -webkit-filter: blur(.8533927202px);
    filter: blur(.8533927202px);
    top: 360px;
    left: 90px
  }
  .register__cirle-four {
    display: none
  }
  .register__cirle-five {
    display: none
  }
  .arrow-up {
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px
  }
  .arrow-up img {
    width: 100%;
    height: auto
  }
  .popup__info {
    flex-direction: column;
    row-gap: 1.3125rem
  }
  .info-popup__image {
    width: 302px;
    height: 335px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0 -7px;
    object-position: 0 -7px;
    border-radius: 3px
  }
  .info-popup__text {
    row-gap: .75rem
  }
  .popup__close {
    right: 0;
    top: -30px
  }
  .popup__packet {
    row-gap: 1.9375rem;
    padding: 0
  }
  .packet-popup__content {
    flex-direction: column;
    row-gap: 2.5rem
  }
  .packet-popup__form {
    border-radius: 3px;
    row-gap: .625rem
  }
  .content-more__button {
    height: 43px;
    padding: 14px 24px
  }
  .form-packet__item {
    padding-top: 1.75rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:90em)and (max-width:120em) {
  .timer__bg {
    bottom: clamp(-3.75rem ,6.25rem + -8.3333333333vw ,-1.25rem)
  }
}
@media (min-width:24.375em)and (max-width:90em) {
  .timer__bg {
    bottom: clamp(-2.5rem ,-2.9642857143rem + 1.9047619048vw ,-1.25rem)
  }
}